.column {
    float: left;
    width: 33.33%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .column {
    float: left;
  }
  
  .left, .right {
    width: 25%;
  }
  
  .middle {
    width: 50%;
  }

body .container {
    justify-content: center; 
    margin: clamp(2rem, 2vw, 10rem) clamp(2rem, 5vw, 25rem);
    padding-bottom: 0;
}

  /* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
  
  body .container header {
    display: flex; 
    flex-direction: column; 
    text-align: center;
    
}

  body .container header .header-title h1 {
    font-size:4.8rem;
    font-weight: 700;
    margin-right: 1rem;
    animation: swipe-left 0.75s ease-in-out;
}
  body .container header .header-title img {
    width: 5rem;
    height: 5rem;
    animation: fly-in 0.75s ease-in-out;
}
.header-description {

    /* Flex properties */
    display: flex; 
    align-items: center; 
    justify-content: center; 

    /* Font properties */
    font-weight: 200;
    font-size: 2.4rem;

    /* Structural properties */
    width: 70rem;
    height: 8rem;

    /* General properties */
    border-radius: 1rem;
    background: linear-gradient(180deg, #FE0866 0%, #FF6254 100%);
    animation: fly-in 0.75s ease-in-out;

}

body .container #calculation #application {
    display: flex;
    flex-direction: column;
    margin: 10rem 0rem;
}

body .container #calculation #application #input-fieldset {
    display: flex; 
    flex-direction: column;
    margin-bottom: 2rem;
    animation: swipe-right 0.75s ease-in-out; 
}
body .container #calculation #application #input-fieldset label {
    font-size: 2.4rem;
    font-weight: 200;
    margin-bottom: 0.5rem;
    margin-right: 2%;
}
body .container #calculation #application #input-fieldset input {

    /* Structural properties */
    width: 25rem;
    height: 5rem;
    padding: 1.2rem 2rem;
    margin-bottom: 1rem;

    /* Font properties */
    color: #868686;
    font-weight: 200;
    font-size: 2.4rem;

    /* General properties */
    border-radius: 1rem;
    border: 3px solid #FF5F55;
}

body .container #calculation #application #output-fieldset {
    animation: zoom 0.75s ease-in-out;
}
body .container #calculation #application #output-fieldset label {
    font-size: 2.4rem;
    font-weight: 200;
    margin-bottom: 0.5rem;
}
body .container #calculation #application #output-fieldset .input-block  {
     display: flex; 
     position: relative; 
}
body .container #calculation #application #output-fieldset .input-block input {

    /* Structural properties */
    width: 36rem;
    height: 6rem;
    padding: 1.2rem 2rem;
    padding-right: 6rem;
    background-color: #443D63;

    /* Font properties */
    color: #6C689F;
    font-weight: 200;
    font-size: 2.4rem;

    /* General properties */
    border: none;
    border-radius: 1rem;
    cursor: not-allowed;
}

.one{
    margin-bottom: 30%;
}
.two{
    margin-bottom: 30%;
    
}
.paragraph-box{
  margin-bottom: 5%;
  padding: 0% 10%;
  border: #FE0866;
  font-weight: 200;
  font-size: 2.4rem;
  animation: fly-in 0.75s ease-in-out;
}
.paragraph-box h3{
  font-weight: 800;
  font-size: 3rem;
  color:#FE0866;
  
}


/* ------------------------------ */

#title-Tag-Line {
  font-size: 20px;
}
/* .card-item__bg{
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: block;
  position: relative;
  margin: 30px auto;
  transform: translate(0px, 50px);
  z-index: 5;
} */

/* form animation starts */
.form {
  background: #fff;
  box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
  border-radius: 5px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  left: 0;
  right: 0;
  position: absolute;
  border-top: 5px solid #0e3721;
/*   z-index: 1; */
  animation: bounce 1.5s infinite;
}
::-webkit-input-placeholder {
  font-size: 1.3em;
}

.title{
  display: block;
  font-family: sans-serif;
  margin: 10px auto 5px;
  width: 300px;
}
.termsConditions{
  margin: 0 auto 5px 80px;
}

.pageTitle{
  color:#FE0866;
  font-size: 3em;
  font-weight: bold;
}
.secondaryTitle{
  font-size: 2em;
  color: grey;
}

.name {
  background-color: #ebebeb;
  color: white;
}
.name:hover {
  border-bottom: 5px solid #FE0866;
  height: 30px;
  width: 380px;
  transition: ease 0.5s;
}

.email {
  background-color: #ebebeb;
  height: 2em;
}

.email:hover {
  border-bottom: 5px solid #FE0866;
  height: 30px;
  width: 380px;
  transition: ease 0.5s;
}

.message {
  background-color: #ebebeb;
  overflow: hidden;
  height: 10rem;
}

.message:hover {
  border-bottom: 5px solid #FE0866;
  height: 12em;
  width: 380px;
  transition: ease 0.5s;
}

.formEntry {
  display: block;
  margin: 30px auto;
  min-width: 300px;
  padding: 10px;
  border-radius: 2px;
  border: none;
  transition: all 0.5s ease 0s;
}

.submit {
  width: 200px;
  color: white;
  background-color: #FE0866;
  font-size: 20px;
}

.submit:hover {
  box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
  transform: translateY(-3px);
  width: 300px;
  border-top: 5px solid #0e3750;
  border-radius: 0%;
}

@keyframes bounce {
  0% {
    tranform: translate(0, 4px);
  }
  50% {
    transform: translate(0, 8px);
  }
} 

